body{
  background-image: url('https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}